body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  overflow-y: hidden; 
}

p{
  margin: 0;
  white-space: nowrap;
}

.message-flex{
  display: flex;
  width: 100%;
}

.message-text{
  width: 80%;
}

.nick-time-flex{
  width: 90%;
}

.button-delete{
  background-color: white;
  width: 18px;
  border-radius: 5px;
  position: relative;
  left: 5px;
  padding-left: 4px;
}

.button-delete:hover{
  cursor: pointer;
}

@media screen and (min-width: 520px), screen and (min-height: 520px) {
  .super-chat-container{
    position: relative;
    margin: auto;
    background-color: blue;
    height: calc(100vh - 30px);
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 15px;
    background-color: #fff;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
  }

  .chat-footer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    top: calc(100% - 50px);
    background-color: #e8e8e8;
    border-radius: 0 0 15px 15px;
  }

  .chat-container{
    position: relative;
    margin: auto;
  }
}

@media screen and (max-width: 519px), screen and (max-height: 519px) {
  .super-chat-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .chat-footer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #e8e8e8;
  }

  .chat-container{
      height: calc(100% - 50px);
  }
}
  
.chat-body{
  padding: 15px 10px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.message-container{
  max-width: 250px;
  width: fit-content;
  background-color: lightgrey;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 7px;
  align-self: start;
  color: black;
  font-size: .88em;
  font-family: "Montserrat", sans-serif;
}

.message-mine{
  align-self: end;
  background-color: skyblue;
  float: right;
}

.input-footer{
  position: relative;
  margin: auto;
  width: 80%;
}

.button-footer{
  position: relative;
  margin-left: 20px;
  width: 20%;
}

.input-self-footer{
  width: calc(100% - 10px);
  border-radius: 15px;
  height: 18px;
  height: 21px;
  border: 1px solid #343a40;
  margin-left: 10px;
  text-indent: 7px;
}

.input-self-footer::placeholder{
  position: relative;
  left: 10px;
  color: black;
  font-weight: 400;
  font-size: .88em;
  font-family: "Montserrat", sans-serif;
}

button.send {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  width: 65px;
  height: 25px;
  border: 1px solid #343a40;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: .75em;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background: #343a40;
  color: white;
  font-size: .8em;
}

